div.container-fluid {
    background-color: aliceblue;
}
/* Header */
.logoImage {
    width: 60px;
}
/* Content */
.companyName {
    color:rgba(4, 4, 179, 0.849);
    font-size: 6rem;
    margin-top: 1em;
}
.companyTitle {
    color:rgba(4, 4, 179, 0.849);
    font-size: 3rem;
    line-height: 2px;
    margin-bottom: 40px;      
}
.companySlogan {
    color: rgb(2, 117, 216);
    font-family: serif;
}
.absolutePicOne {
    position: absolute;
    margin-left: 36%;
    margin-top: 3%;
    box-shadow: 6px 8px rgba(8, 8, 8, 0.035);
    border-radius: 20px;
    width: 25em;
    height: 12em;
} 
.absolutePicTwo {
    position:absolute;
    box-shadow: 6px 8px rgba(8, 8, 8, 0.035);
    margin-left: 28%;
    margin-top: 18%;
    border-radius: 20px;
    width: 25em;
    height: 12em;
}
.absolutePicThree {
    position:relative;
    margin-left: 20%;
    margin-top: 35%;
    box-shadow: 6px 8px rgba(8, 8, 8, 0.035);
    border-radius: 20px;
    width: 25em;
    height: 12em;
}
.companyDescTitle {
    color:rgba(4, 4, 179, 0.849);
    margin-top: 80px;
}
.underLine {
    border-top:1px solid rgba(172, 1, 172, 0.473);
    margin-top: 1px;
    margin-right: 100px;
}

img.devservice {
    margin-top: 70px;
    margin-right: 90px;
    width: 23em;
    height: 15em;
    border-radius: 20px;
    box-shadow:6px 8px rgba(8, 8, 8, 0.035);
}

.seeMoreButton {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid rgb(2, 117, 216);
    border-radius: 8px;
    box-shadow: 4px 4px rgba(8, 8, 8, 0.082);
    width: 18em; 
    height: 2.5em;   
    color: rebeccapurple;
}    

i.fa-building{
    color: white;
}
.partners {   
    background-color: rgba(2, 116, 216, 0.363);
    border: 1px solid rgba(2, 116, 216, 0.363);
    border-radius: 50px;
    margin-left: 400px;
    margin-right: 400px;
    color: rgba(4, 4, 179, 0.849);
}
.underLinePartner {    
    margin:0 400px 30px 460px;
    border:1px solid  rgba(172, 1, 172, 0.473);
}

.underLineService {
    margin:0 400px 30px 460px;
    border:1px solid  rgba(172, 1, 172, 0.473);
}
.ourServicesTitle {
    color:rgba(4, 4, 179, 0.849);
}
.fa-wrench {
    color:white;
}
.ourServices {
    margin: 30px 19px 300px 19px;
    padding-top:15px;
    text-align: center;
    color: rgba(4, 4, 179, 0.849);
    border: 1px solid rgba(4, 4, 179, 0.849);
    border-radius: 40px;
    background-color: white;
    
}
.ourServices i {
    font-size: 60px;
    margin-bottom: 10px;
}
.partners .fa-laptop {
    color:white;
}
.machineLearingImg {
    margin-top: 70px;    
    width: 30em;
    height: 15em;
    border-radius: 20px;
    box-shadow:6px 8px rgba(8, 8, 8, 0.035);
}

.taiwanCentralizedImg1 {
    margin-top: 70px;
    position: absolute;
    width: 27em;
    height: 13em;
    border: 1px solid rgba(172, 1, 172, 0.473);
    border-radius: 30px;
    box-shadow: 4px 4px rgba(8, 8, 8, 0.082);
}
.taiwanCentralizedImg2 {
    position: relative;
    margin-top:11em;
    margin-left: 13em;
    margin-right: 1em;
    z-index: -1;
    width: 15em;
    border: 1px solid rgba(172, 1, 172, 0.473);
    border-radius: 30px;
    box-shadow: 4px 4px rgba(8, 8, 8, 0.082);
}
.underLineTaiwan {
    border-top:1px solid rgba(172, 1, 172, 0.473);
    margin-top: 1px;
    margin-left: 100px;
}
.crmImg1 {
    position: absolute;
    margin-top: 5em;
    width: 12em;
    height: 12em;
    border: 1px solid rgba(172, 1, 172, 0.473);
    border-radius: 50%;
    box-shadow: 4px 4px rgba(8, 8, 8, 0.082);
}
.crmImg {
    position: relative;  
    margin-left: 87px;
    margin-top: 19px;
    width: 16em;
    height: 16em;
    border: 1px solid rgba(172, 1, 172, 0.473);
    border-radius: 50%;
    box-shadow: 4px 4px rgba(8, 8, 8, 0.082);
}

/* about section */

.aboutCompanyImg{
    margin-left:10px;
    width: 23em;
    height: 14em;
    border-radius: 20px;
    box-shadow:6px 8px rgba(8, 8, 8, 0.035);
}
.aboutCompanyTitle {
    color:rgba(4, 4, 179, 0.849);    
}
.globalScaleImg{
    margin-top: 70px;
    margin-right: 13px;   
    width: 27em;
    height: 13em;
    border-radius: 30px;
    box-shadow: 4px 4px rgba(8, 8, 8, 0.082);
}
.teamIntro{
    margin-top: 100px;
    background-image: url(./images/developers.jpg);
    opacity: 0.7;
}
.teamIntro p{
    padding: 0 80px 20px 80px ;   
}

/* Services section */
.azureImg {
    margin-top: 70px; 
    margin-right: 10px;    
    width: 13em;
    height: 13em;
    border: 1px solid rgba(172, 1, 172, 0.473);
    border-radius: 50%;    
}
.underLineAzure {
    border-top:1px solid rgba(172, 1, 172, 0.473);
    margin-top: 1px;
    margin-right: 400px;
    margin-left: 190px;
}
.aiImg{
    float: none;
    margin-top: 30px;  
    margin-left: 10px;       
    width: 13em;
    height: 13em;
    border: 1px solid rgba(172, 1, 172, 0.473);
    border-radius: 50%;  
}
.underLineAI {
    border-top:1px solid rgba(172, 1, 172, 0.473);
    margin-top: 1px;
    margin-right: 190px;
    margin-left: 400px;
}

.underLineMobileApps {
    border-top:1px solid rgba(172, 1, 172, 0.473);
    margin-top: 1px;
    margin-right: 400px;
    margin-left: 170px;
}

/* contact section */
.yourName, .yourEmail {
    margin-bottom: 15px;
    border-radius: 10px;
    border-color: rgb(2, 117, 216);
    width: 40%;
    height: 40px;
}

.yourMessage {
    border-radius: 10px;
    border-color: rgb(2, 117, 216);
    width: 40%;
    margin-bottom: 15px;
}


